<form action="/movies/create" method="POST">
  <input name="title" placeholder="title"></input>
  <input name="genre" placeholder="genre"></input>
  <input name="rating" placeholder="rating"></input>

  <input type="submit"></input>
</form>