<form action="/items/create" method="POST">
  <input name="burger_name" placeholder="burger_name"></input>
  <input name="devoured" placeholder="devoured"></input>

  <input type="submit"></input>
</form>